h1 {
    color: rgb(59, 90, 255);
    text-align: center;
    font-weight: 700;
    font-family: 'Bazooka', cursive;
}

h2 {
    color: green;
    text-align: right;
    font-weight: 700;
    font-family: 'Bazooka', cursive;
}



p {
    color: slateblue;
    text-align: center;

}

button {

    color: brown;
    background-color: lightcyan;
    display: block;
}

body {
    background-color: darkorange;
}

div {
    background-color: rgb(86, 134, 42);
    display: inline-block;
}